# Day 1: Preparing the sitcom lines dataset

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### Reading the dataset 
Read the csv file

In [2]:
df = pd.read_csv("data/the_office_lines.csv")
df.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

### Do Data Checks!
It is prudent to do the following on a DataFrame before any analysis is made
1. Check shape
2. Check data types of columns
3. Check null values in columns and rows
5. Check for duplicates
6. Check if you have the expected values for a certain column

In [3]:
#Check the shape of the dataframe
df.shape

(59909, 7)

In [4]:
#check data types of columns
df.dtypes

id            int64
season        int64
episode       int64
scene         int64
line_text    object
speaker      object
deleted        bool
dtype: object

In [5]:
#Check null values in the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59909 entries, 0 to 59908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         59909 non-null  int64
 1   season     59909 non-null  int64
 2   episode    59909 non-null  int64
 3   scene      59909 non-null  int64
 4   line_text  59909 non-null  object
 5   speaker    59909 non-null  object
 6   deleted    59909 non-null  bool
dtypes: bool(1), int64(4), object(2)
memory usage: 2.8+ MB

In [6]:
#Check for duplicates
sum(df.duplicated())

0

In [7]:
#how many seasons are there in the show
df['season'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
#how many characters are in the show?
len(df['speaker'].unique())

797

In [9]:
#who are the characters in the show
df['speaker'].unique()

array(['Michael', 'Jim', 'Pam', 'Dwight', 'Jan', 'Michel', 'Todd Packer',
       'Phyllis', 'Stanley', 'Oscar', 'Angela', 'Kevin', 'Ryan', 'Man',
       'Roy', 'Documentary Crew Member', 'Mr. Brown', 'Toby', 'Kelly',
       'Meredith', 'Travel Agent', 'Man on Phone', 'Everybody', 'Lonny',
       'Darryl', 'Teammates', 'Michael and Dwight', 'Warehouse worker',
       'Madge', 'Worker', 'Packer', 'Warehouse Worker', 'Katy',
       'Guy at bar', 'Other Guy at Bar', 'Guy At Bar', 'Pam and Jim',
       'Employee', "Chili's Employee", 'Waitress', 'Manager',
       "Kevin's computer", 'Warehouse Guy', 'Warehouse guy',
       'Warehouse guys', 'Video', 'Man in Video', 'Actor',
       'Redheaded Actress', "Mr. O'Malley", 'Albiny', "Pam's Mom",
       'Carol', 'Bill', 'Everyone', 'Crowd', 'song', 'Song',
       'Dwight and Michael', 'Sherri', 'Creed', 'Devon', 'Children',
       'Kid', 'Vance Refrigeration Worker #1',
       'Vance Refrigeration Worker #2', 'Hank the Security Guard', 'Ira',
       "Ryan's Voicemail", 'Master', 'Alyssa', 'Christian', 'Hostess',
       'Michael and Christian', 'Sadiq (IT guy)', 'Mark',
       'Improv Teacher', 'Mary-Beth', 'Girl acting Pregnant', 'Actress',
       'Michael and Jim', 'Kevin & Oscar', 'All', 'Liquor Store Clerk',
       'JIm', 'Bob Vance', 'Phyllis, Meredith, Michael, Kevin',
       'Captain Jack', 'Brenda', 'Darryl and Katy', 'Jim and Pam',
       'Billy Merchant', 'Doctor', 'Lab Tech', 'Dana', "Hooter's Girls",
       'Phylis', 'Gil', 'Pam and others', 'Ed', 'Todd', "Jim's voicemail",
       'Women', 'Guy', 'Men', 'Group chant', 'All the Men',
       'Dwight and Roy', 'Delivery man', 'Craig', 'Josh', 'David', 'Dan',
       'Receptionist', 'Overhead', 'Speaker', 'Jim and Dwight', 'Melissa',
       'Sasha', 'Abby', 'Jake', 'The Kids', 'Kids', 'Miss Trudy',
       'Edward R. Meow', 'Chet', 'Young Michael', 'Delivery Woman',
       'Delivery Boy', 'Office Staff', 'Store Employee', 'Pam/Jim',
       'Linda', 'Hank', 'Sheriff', 'I.D. Photographer', 'Photographer',
       'Anglea', 'Female worker', "Billy's Girlfriend", 'Billy', 'Dealer',
       'Bob', "Meredith's Vet", 'Andy', 'Karen', 'Jerome Bettis', 'Ted',
       'Waiter', 'Jim, Josh, and Dwight', 'Evan', 'Alan',
       'Ryan and others', 'Hannah', 'Announcer', 'Pretzel guy',
       'Cousin Mose', 'Tony', 'Server', 'Girls', "Kelly's Mom",
       "Kelly's Father", 'Young Man', 'Andy and Jim', 'Mrs. Kapoor',
       'Mr. Kapoor', 'Dwight ', 'M ichael', 'Michael ', 'Dwight:',
       'Martin', 'Male voice', 'Michael & Dwight', 'Andy & Michael',
       'Chef', 'Woman at bar', 'Cindy', 'Second Cindy', 'Other waitress',
       'Andy and Michael', 'Both', 'Someone', 'Harvey', 'Buyer', 'Kenny',
       'Julius', 'Phone', 'Staples Guy', 'MIchael', 'Lady', 'Paris',
       'Marcy', 'Ben Franklin', 'Elizabeth', 'Priest', 'Uncle Al',
       'Randy', 'Unknown', 'College Student', 'Business Student #1',
       'Business Student #2', 'Business Student #3', 'Woman', 'Artist',
       'Student 1', 'Student 2', 'Student 3', 'Rachel', 'Dan Gore',
       'Bartender', 'Child', 'Hunter', 'Darry', 'Micheal', 'Larry',
       'Chad Lite', 'Jamie', 'Barbara', 'School Official',
       'Barbara Allen', 'Spanish Teacher', 'Denise', 'Group',
       'IT Tech Guy', 'Nurse', 'Intern', 'Pediatrician', 'Robert Dunder',
       'Amy', 'GPS', 'Larry Myers', 'Ex-client', 'Voice of Thomas Dean',
       'sAndy', 'DunMiff/sys', 'DwightKSchrute', 'Tech Guy', 'Angels',
       'Pizza guy', 'Voice #1 on phone', 'Voice #2 on phone', 'Micahel',
       'Michae', 'Nick', 'Mose', 'Co-Worker 1', 'Stanely', 'Micael',
       'Vikram', 'Co-Worker 2', 'Co-Worker 3', 'Mr. Figaro',
       'Oscar and Stanley', 'Ad guy 1', 'Ad guy 2', 'David Wallace',
       'Andy, Creed, Kevin, Kelly, Darryl', 'Andy, Creed, Kevin, Kelly',
       "Michael's Ad", 'Rolando', 'Ben', 'Security guard', 'Lester',
       'Diane Kelly', 'Diane', 'Deposition Reporter', 'Council',
       "Hunter's CD", 'Officer 1', 'Officer 2', 'Officer', 'Neighbor',
       "Wendy's phone operator", 'Margaret', 'Coffee shop worker',
       'Jan [on phone]', 'W.B. Jones', 'Paul Faust', 'Bill Cress', 'Paul',
       'Michael/Dwight', 'Troy', 'Girl in Club', 'Tall Girl #1',
       'All Girls', 'Tall Girl #2', 'Girl in 2nd club', 'Cleaning lady',
       'Michael and Darryl', 'Phil Maguire', 'Phil', 'Justin',
       'Angela and Dwight', 'Maguire', 'Woman on mic', 'Graphics guy',
       'Brad', 'Air Force recruiter', 'Holly', 'Woman over speakerphone',
       'Vance Refrigeration guy', 'Holy', 'Co-workers', 'Ronnie',
       'Professor', 'Friend', 'JIM9334 [screen name]',
       'Receptionitis15 [screen name]', 'JIM9334', 'Receptionitis15',
       'Michael & Holly', 'Dight', 'Kendall', 'Michael [on phone]',
       'Pam [on phone]', 'Man on phone', 'Hank [the security guard]',
       'Guy in audience', 'Michael and Holly',
       'Michael, Holly, and Darryl', 'Tom', 'Pete', 'Holly & Darryl',
       'Holly & Michael', 'Mother', 'Alex', 'Customer', 'Kevin & Andy',
       'Stanley & Phyllis', 'Stewardess', 'Beth', 'Concierge', 'Marie',
       'Guy at table', 'Concierge Marie', 'Client', 'Dacvid Walalce',
       'David Wallcve', 'Dacvid Wallace', 'Leo',
       'Vance Refrigeration Guy', 'Police Officer 1', 'Police Officer 2',
       'Guy buying doll', 'Rehab Nurse', 'Everyone watching',
       'Entire Prince family', 'Prince Grandfather', 'Entire office',
       'Jim ', 'Prince', 'Prince Granddaughter', 'Prince Grandmother',
       'Prince Son', 'Phyllis and Creed', 'Lawyer', 'CPR trainer',
       'CPR Trainer', 'Rose', 'Jessica Alba', 'Lily', 'Sam',
       'Warehouse Michael', 'Julia', 'A.J.', 'Phone Salesman',
       'Jim, Pam, Michael and Dwight', 'Blood Drive Worker', 'Blood Girl',
       'Lynn', 'Blonde', 'Eric', 'Girl', 'Charles', 'Stephanie',
       'Employees', 'Isaac', 'Angela and Kelly', 'Supervisor', 'Michal',
       'Nana', 'Chares', 'Old Woman', 'Erin', 'Dwight and Erin',
       'Dwight and Andy', 'Michael, Pam & Ryan', 'Secretary',
       'Automated phone voice', 'Mr. Schofield', 'Financial Guy', 'Ty',
       'Jessica', 'Vance Refrigeration Guy 1',
       'Vance Refrigeration Guy 2', 'VRG 1', 'VRG 2', 'Rolph', 'AJ',
       'Man from Buffalo', 'Woman from Buffalo', 'Dwight & Andy',
       'Female Intern', 'Female intern', 'Maurie', 'Dwight, Jim & Pam',
       'Jim & Pam', 'Megan', 'Gwenneth', 'Front Desk Clerk',
       'Mr. Halpert', 'Mema', 'Mr. Beesly', 'Little Girl', 'Penny',
       'Isabel', 'Hotel Employee', 'Hotel Manager', "Pam's mom",
       'Tom Halpert', 'Pete Halpert', 'Tom and Pete', "Pam's dad",
       'Grotti', 'Andy and Dwight', 'Credit card rep', 'Rep', 'Various',
       'Keena Gifford', 'Helene', "David Wallace's Secretary",
       'Voice on CD player', 'Limo Driver', 'Laurie', 'Registrar',
       'Security', 'Woman in line', 'Man in line', 'Shareholder',
       'Female Shareholder', 'Second Shareholder', 'Third Shareholder',
       'Fourth Shareholder', "O'Keefe", 'Mikela', 'Students', 'Teacher',
       'Lefevre', 'Zion', 'Deliveryman', 'Michael and Erin', 'Daryl',
       'Office', 'Kelly and Erin', 'Matt', 'Computron', 'Fake Stanley',
       'Gabe', 'Andy & Erin', 'Christian Slater', 'Jo Bennett', 'Jo',
       'Jerry', 'Teddy Wallace', 'Mrs. Wallace', 'Teddy',
       'Dwight, Jim and Michael', 'Policeman', 'Hospital employee',
       "(Pam's mom) Heleen", 'Kathy', 'Dale', 'Clark', 'Isabelle', 'D',
       'Warehouse guy 1', 'Warehouse guy 2', 'Reid',
       'Night cleaning crew', 'Meredith, Creed, Oscar and Matt',
       'Miichael', 'Julie', 'Hide', 'Bar Manager', 'Bouncer',
       'Girl at table', 'Cookie Monster', 'Dwight.', "Hayworth's waiter",
       "Oscar's voice from the computer", 'Donna', 'Michael and Donna',
       'Mihael', 'Old lady', 'Glen', 'Gym Instructor', 'Gym instructor',
       'Dwight and Angela', 'Shane', 'Reporter', 'Realtor', 'Luke',
       'Window treatment guy', 'Angel', 'Salesman', 'Usher', 'Shelby',
       'Sweeney Todd', 'Mexican Man', 'Son', 'Nate',
       'Employees except Dwight', 'Astrid', 'Carroll', 'Carrol', 'Danny',
       'Steve', 'Darryl and Andy', 'Church congregation', 'Pastor',
       'Female church member', 'Male church member',
       'Female church member [to Michael]', 'Doug [church member]',
       'Doug', 'Mee-Maw', 'MeeMaw', 'Carla', "Jim's Dad", 'Bus driver',
       'Michael and Andy', 'Another guy', 'Radio', 'Cece', 'TV',
       'Meridith', 'Robotic Voice', 'Ryan and Michael', 'Phyliss',
       'Dwight & Nate', 'Passer-by', 'Pam ', 'Bass Player', 'Justine',
       'Jada', 'Robert', 'Darrly', 'Member', 'Video Michael',
       'Bookstore employee', 'DJ', 'David Brent', 'Older guy',
       'Phyllis, Stanley, Dwight', 'Younger Guy', 'Older Woman',
       'Professor Powell', 'Ryan and Kelly', 'Helen', 'Attendant',
       'Hot Dog Guy', 'Cell Phone Sales Person', 'Boom Box',
       'Andy and Erin', "Holly's Mom", "Holly's Dad", 'Deangelo',
       'Deangelo/Michael', 'Denagelo', "Darryl's sister", 'DeAngelo',
       'Audience', 'Together', 'Erin and Kelly', 'abe', 'Rory',
       'DeAgnelo', 'Jordan', 'Dwight [on phone]', 'Mose [on phone]',
       'All but Oscar', 'Darryl and Angela', 'Fred Henry', 'Fred',
       'Warren Buffett', 'Warren', 'Robert California', 'Merv Bronte',
       'Merv', 'Nellie Bertram', 'Nellie', 'Finger Lakes Guy',
       'Pam as fourth-biggest client', 'Pam as ninth-biggest client',
       'Darryl & Oscar', 'Tattoo Artist', 'Female Applicant',
       'Male Applicant 1', 'Male Applicant 2', 'Gideon', 'Bruce',
       'Dwight, Erin, Jim & Kevin', 'Walter', 'Ellen', 'Walter Jr',
       'Andy & Walter', 'Walter & Walter Jr', "Erin's Cell Phone", 'Bert',
       'Gabe/Kelly/Toby', 'Andy/Pam', 'Andy/Stanley', 'Val',
       'Warehouse Crew', 'Cathy', 'Offscreen', 'Curtis', 'Drummer',
       'Pam and Kelly', 'Old Man', 'Andy and Darryl', 'Darryl and Kevin',
       'Park Ranger', 'Chelsea', 'Archivist', 'Narrator', 'Soldier',
       'Amanda', 'Susan', 'Andy/Oscar', "Bob's Secretary",
       'Mrs. California', 'Host', 'Queerenstein Bears', "Oscar's friend",
       'Stu', 'Stonewall Host', 'Meredith & Kelly', 'Einsteins',
       'Senator Lipton', 'Ernesto', 'Officer Foley',
       'Andy, Darryl & Officer Foley', 'Saleswoman', 'Emergency Operator',
       'Paramedic', 'Donna Muraski', 'Wally Amos', 'Angela/Pam',
       'Brandon', 'Blogger', 'Blogger 2', 'Lady Blogger', 'Patty',
       'Old Lady', 'Others', 'Elderly Woman', 'Irene', 'Alonzo', 'Glenn',
       'Erin and Irene', 'Kevin & Meredith', 'Lauren', 'Party guests',
       'Magician', 'Ravi', 'Robert & Creed', 'Wrangler', 'Senator', 'Vet',
       'Harry', 'Mr. Ramish', 'Calvin', 'Off-camera', 'Rafe', 'Fake Jim',
       'Voicemail', 'Nellie and Pam',
       'Group: Dunder Mifflin!\nAndy: Andy Bernard presents: Summer Softball Epic Fails! [Kevin swings bat on screen, fart noise follows] Fail. [repeats] Fail',
       '[repeats]\nAndy: Fail',
       "[Clark and Pete are shown on screen]\nVideo Andy: Hey, I'm Pete, puberty is such a drag, man. And I'm Clark! I like to eat toilet paper. [Clark and Pete wave at camera] We fail! [Video shows memorial of Jerry",
       'Phyllis, Kevin & Stanley', 'HCT', 'HCT Member #1',
       'HCT Member #2', 'Broccoli Rob', 'Businessman #1',
       'Businessman #2', 'Businessman #3', 'HCT Member #3', 'White',
       'Boat Guy', 'Walt Jr.', 'Senator Liptop', 'Guys in breakroom',
       'Business partner', 'Molly', 'Colin', 'Trevor', 'Julius Irving',
       'New Instant Message', 'Suit Store Father', 'Athlead Employee',
       'Dennis', 'Wade', 'Suit Store Son', 'Female Athlead Employee',
       '3rd Athlead Employee', '4th Athlead Employee', 'Co-worker',
       'Co-worker #2', 'Mr. Romanko', 'Dance Teacher', 'Ballerinas',
       'Parent in Audience', 'Parent in audience #2',
       'Parent in audience #1', 'Investor', 'Lonnie', 'Fast Food Worker',
       'Drive Thru Customer', 'Brian', 'Cameraman', 'Rolf', 'Gabor',
       'Zeke', 'Melvina', 'Wolf', 'Sensei Ira', 'Pam & Dwight', 'Frank',
       'Party Announcer', 'Party Guest', 'Party Photographer',
       'Party Waiter', 'Nail stylist 1', 'Nail stylist 2', 'Nail manager',
       'Shirley', 'Athlead Coworker', 'Roger', 'Alice',
       "Oscar's Computer", 'Jeb', 'German Minister', 'Fannie', 'Henry',
       'Esther', 'Aunt Shirley', 'Cameron', 'Promo Voice', 'Ryan Howard',
       'Mr. Ruger', 'Promo Announcer', 'Ruger Sister 1', 'Salesmen',
       'Ruger Sister 2', 'Angela & Oscar', 'Reporter #1', 'Reporter #2',
       'Mrs. Davis', 'Phillip', 'Carla Fern', 'Director', 'Producer',
       'Bob Vance, Vance Refrigeration', 'Production Assistant', 'Sensei',
       'Philip', 'Check-in guy', 'Casey', 'Mark McGrath', 'Jim & Dwight',
       'Camera Crew', 'People in line', 'Santigold', 'Aaron Rodgers',
       'Clay Aiken', 'CameraMan', 'Malcolm', 'Casey Dean', 'Bill Hader',
       'Seth Mayers', 'Dakota', 'Stripper', 'Jakey', 'Man 1', 'Woman 1',
       'Woman 2', 'Man 2', 'Moderator', 'Man 3', 'Woman 3', 'Woman 4',
       'Joan', 'Minister', 'Carol Stills'], dtype=object)

In [10]:
#how many episodes are in the show?
len(df[['season','episode']].drop_duplicates())

186

In [11]:
#how many scenes are in the show?
len(df[['season','episode', 'scene']].drop_duplicates())

9161

In [12]:
#how many deleted scenes are there?
df[['season','episode', 'scene','deleted']].drop_duplicates()['deleted'].value_counts()

False    8849
True      312
Name: deleted, dtype: int64

## Narrowing down
It is important to develop the skill of being able to identify which rows in a dataset are important, since working with limited time and/or machine memory

**Filter 1**: Remove deleted scenes

In [13]:
len(df)

59909

In [14]:
# remove deleted scenes
df = df[df['deleted']==False]

In [15]:
len(df)

57973

**Filter 2**: Retain lines from major characters only

> Definition: A *major character* is someone who belongs to the top 50 characters with the most number of lines spoken

In [16]:
df['speaker'].value_counts()

Michael                    11574
Dwight                      7167
Jim                         6609
Pam                         5205
Andy                        3968
                           ...
Michael/Dwight                 1
Denagelo                       1
Angela and Dwight              1
Employees except Dwight        1
Employees                      1
Name: speaker, Length: 790, dtype: int64

In [17]:
#get top 50 characters
major_characters = df['speaker'].value_counts()[:50].index
major_characters

Index(['Michael', 'Dwight', 'Jim', 'Pam', 'Andy', 'Kevin', 'Angela', 'Erin',
       'Oscar', 'Ryan', 'Darryl', 'Phyllis', 'Kelly', 'Jan', 'Toby', 'Stanley',
       'Meredith', 'Holly', 'Nellie', 'Gabe', 'Creed', 'Robert', 'David',
       'Karen', 'Clark', 'Roy', 'Charles', 'Pete', 'Jo', 'Deangelo',
       'David Wallace', 'Carol', 'Katy', 'Donna', 'DeAngelo', 'Val', 'Danny',
       'Todd Packer', 'Josh', 'All', 'Everyone', 'Jessica', 'Nate', 'Packer',
       'Brian', 'Cathy', 'Helene', 'Susan', 'Hank', 'Man'],
      dtype='object')

In [18]:
#remove 'All' and 'Everyone' in the major character list
#"#ALL#" for FRIENDS
major_characters = [character for character in major_characters if character not in ['#ALL#','All','Everyone']]
print(major_characters)

['Michael', 'Dwight', 'Jim', 'Pam', 'Andy', 'Kevin', 'Angela', 'Erin', 'Oscar', 'Ryan', 'Darryl', 'Phyllis', 'Kelly', 'Jan', 'Toby', 'Stanley', 'Meredith', 'Holly', 'Nellie', 'Gabe', 'Creed', 'Robert', 'David', 'Karen', 'Clark', 'Roy', 'Charles', 'Pete', 'Jo', 'Deangelo', 'David Wallace', 'Carol', 'Katy', 'Donna', 'DeAngelo', 'Val', 'Danny', 'Todd Packer', 'Josh', 'Jessica', 'Nate', 'Packer', 'Brian', 'Cathy', 'Helene', 'Susan', 'Hank', 'Man']

In [19]:
len(df)

57973

In [20]:
# Keep only major characters
df = df[df['speaker'].isin(major_characters)]
len(df)

54018

## Creating the speaker combinations table
This table will be used to setup our sitcom network.

The pandas `groupby` operator functions in the same way as pivot_table in excel

The syntax for a single index column and single agg column:
```python
df.groupby('index_col')['agg_col'].aggfunc()
```

A good analogy for  pandas `groupby` is making cocktails at a party: the glasses is the items in `index_col`, the beverage is the `agg_col`, and how the beverage is poured into the glasses is `aggfunc`.

<img src="groupby.png" align="left" alt="Drawing" style="width: 300px;"/>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


For multiple indices and multiple aggregations:
```python
df.groupby(['index_col','index_col2']).agg('agg_col1':aggfunc1, 'agg_col2':aggfunc2)
```

In [21]:
# How many lines are spoken in each season?
df.groupby('season')['line_text'].count()

season
1    1471
2    5649
3    7040
4    5230
5    7735
6    7052
7    6849
8    6610
9    6382
Name: line_text, dtype: int64

In [22]:
# How many episodes are in each season?
df.groupby('season')[['episode']].nunique()

        episode
season
1             6
2            22
3            23
4            14
5            26
6            24
7            24
8            24
9            23

In [23]:
#Which characters has the most lines?
df.groupby(['speaker'])['line_text'].count().sort_values(ascending=False).head(5)

speaker
Michael    11574
Dwight      7167
Jim         6609
Pam         5205
Andy        3968
Name: line_text, dtype: int64

In [44]:
# Which speakers are in each scene?
pdf = df.groupby(['season','episode','scene'])['speaker'].unique()
pdf

season  episode  scene
1       1        1        [Michael, Jim]
                 2             [Michael]
                 3        [Michael, Pam]
                 4             [Michael]
                 5              [Dwight]
                               ...
9       23       112             [Creed]
                 113          [Meredith]
                 114           [Phyllis]
                 115               [Jim]
                 116               [Pam]
Name: speaker, Length: 8775, dtype: object

In [45]:
#reset index to convert groupby output to DataFrame
pdf = pdf.reset_index()
pdf

      season  episode  scene         speaker
0          1        1      1  [Michael, Jim]
1          1        1      2       [Michael]
2          1        1      3  [Michael, Pam]
3          1        1      4       [Michael]
4          1        1      5        [Dwight]
...      ...      ...    ...             ...
8770       9       23    112         [Creed]
8771       9       23    113      [Meredith]
8772       9       23    114       [Phyllis]
8773       9       23    115           [Jim]
8774       9       23    116           [Pam]

[8775 rows x 4 columns]

In [46]:
# get number of speakers in scene
pdf['num_speakers'] = pdf['speaker'].apply(lambda x: len(x))

In [47]:
pdf

      season  episode  scene         speaker  num_speakers
0          1        1      1  [Michael, Jim]             2
1          1        1      2       [Michael]             1
2          1        1      3  [Michael, Pam]             2
3          1        1      4       [Michael]             1
4          1        1      5        [Dwight]             1
...      ...      ...    ...             ...           ...
8770       9       23    112         [Creed]             1
8771       9       23    113      [Meredith]             1
8772       9       23    114       [Phyllis]             1
8773       9       23    115           [Jim]             1
8774       9       23    116           [Pam]             1

[8775 rows x 5 columns]

In [48]:
len(pdf)

8775

**Filter 3**: Remove scenes where there is only one speaker talking

In [49]:
pdf = pdf[pdf['num_speakers']>=2]
len(pdf)

5321

In [50]:
pdf

      season  episode  scene                        speaker  num_speakers
0          1        1      1                 [Michael, Jim]             2
2          1        1      3                 [Michael, Pam]             2
6          1        1      7         [Michael, Jim, Dwight]             3
9          1        1     10            [Jan, Michael, Pam]             3
10         1        1     11    [Michael, Jan, Todd Packer]             3
...      ...      ...    ...                            ...           ...
8756       9       23     98          [Darryl, Kevin, Andy]             3
8757       9       23     99             [Pam, Jim, Dwight]             3
8759       9       23    101          [Andy, Kevin, Darryl]             3
8765       9       23    107  [Phyllis, Jim, Creed, Angela]             4
8766       9       23    108                 [Kevin, Oscar]             2

[5321 rows x 5 columns]

To get the possible interactions in the scene, we need to split each speaker list into all possible pairs

In [51]:
from itertools import combinations

In [52]:
#example 
[set(c) for c in combinations(["Jim", "Angela", "Creed", "Phyllis"],2 )]

[{'Angela', 'Jim'},
 {'Creed', 'Jim'},
 {'Jim', 'Phyllis'},
 {'Angela', 'Creed'},
 {'Angela', 'Phyllis'},
 {'Creed', 'Phyllis'}]

In [53]:
('Angela', 'Jim') == ('Jim', 'Angela')

False

In [54]:
#Are sets really order-independent?
{'Angela', 'Jim'} == {'Jim', 'Angela'}

True

In [55]:
# convert speaker combinations into set to make it order-independent
pdf['speaker_combinations'] = pdf['speaker'].apply(lambda x: [set(c) for c in combinations(x,2)])
pdf.head()

<ipython-input-55-8e4b557a60da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['speaker_combinations'] = pdf['speaker'].apply(lambda x: [set(c) for c in combinations(x,2)])

,season,episode,scene,speaker,num_speakers,speaker_combinations
0,1,1,1,"[Michael, Jim]",2,"[{Jim, Michael}]"
2,1,1,3,"[Michael, Pam]",2,"[{Michael, Pam}]"
6,1,1,7,"[Michael, Jim, Dwight]",3,"[{Jim, Michael}, {Dwight, Michael}, {Jim, Dwig..."
9,1,1,10,"[Jan, Michael, Pam]",3,"[{Michael, Jan}, {Jan, Pam}, {Michael, Pam}]"
10,1,1,11,"[Michael, Jan, Todd Packer]",3,"[{Michael, Jan}, {Todd Packer, Michael}, {Todd..."

In [56]:
# use pd.explode to break up the list of speaker combinations so each would have its own row
pdf = pdf[['season','episode','scene','speaker_combinations']].explode('speaker_combinations')
pdf

      season  episode  scene speaker_combinations
0          1        1      1       {Jim, Michael}
2          1        1      3       {Michael, Pam}
6          1        1      7       {Jim, Michael}
6          1        1      7    {Dwight, Michael}
6          1        1      7        {Jim, Dwight}
...      ...      ...    ...                  ...
8765       9       23    107    {Phyllis, Angela}
8765       9       23    107         {Jim, Creed}
8765       9       23    107        {Jim, Angela}
8765       9       23    107      {Angela, Creed}
8766       9       23    108       {Kevin, Oscar}

[21688 rows x 4 columns]

In [57]:
pdf['speaker1'] = pdf['speaker_combinations'].apply(lambda x: list(x)[0])
pdf['speaker2'] = pdf['speaker_combinations'].apply(lambda x: list(x)[1])
pdf

      season  episode  scene speaker_combinations speaker1 speaker2
0          1        1      1       {Jim, Michael}      Jim  Michael
2          1        1      3       {Michael, Pam}  Michael      Pam
6          1        1      7       {Jim, Michael}      Jim  Michael
6          1        1      7    {Dwight, Michael}   Dwight  Michael
6          1        1      7        {Jim, Dwight}      Jim   Dwight
...      ...      ...    ...                  ...      ...      ...
8765       9       23    107    {Phyllis, Angela}  Phyllis   Angela
8765       9       23    107         {Jim, Creed}      Jim    Creed
8765       9       23    107        {Jim, Angela}      Jim   Angela
8765       9       23    107      {Angela, Creed}   Angela    Creed
8766       9       23    108       {Kevin, Oscar}    Kevin    Oscar

[21688 rows x 6 columns]

In [58]:
pdf['speaker_pair'] = pdf.apply(lambda x: {x['speaker1'],x['speaker2']}, axis=1)
pdf

,season,episode,scene,speaker_combinations,speaker1,speaker2,speaker_pair
0,1,1,1,"{Jim, Michael}",Jim,Michael,"{Jim, Michael}"
2,1,1,3,"{Michael, Pam}",Michael,Pam,"{Michael, Pam}"
6,1,1,7,"{Jim, Michael}",Jim,Michael,"{Jim, Michael}"
6,1,1,7,"{Dwight, Michael}",Dwight,Michael,"{Dwight, Michael}"
6,1,1,7,"{Jim, Dwight}",Jim,Dwight,"{Jim, Dwight}"
...,...,...,...,...,...,...,...
8765,9,23,107,"{Phyllis, Angela}",Phyllis,Angela,"{Phyllis, Angela}"
8765,9,23,107,"{Jim, Creed}",Jim,Creed,"{Jim, Creed}"
8765,9,23,107,"{Jim, Angela}",Jim,Angela,"{Jim, Angela}"
8765,9,23,107,"{Angela, Creed}",Angela,Creed,"{Angela, Creed}"
8766,9,23,108,"{Kevin, Oscar}",Kevin,Oscar,"{Kevin, Oscar}"

Now we have a table with each speaker combination per scene. This will be used to construct the sitcom network.

In [40]:
#save speakers
pdf = pdf.drop(columns='speaker_combinations')
pdf.to_csv("data/the_office_speaker_combinations.csv", index=False)

>Q: Which 2 characters were most often found speaking together in a scene?

In [41]:
pdf.groupby(['speaker1','speaker2']).size().sort_values(ascending=False)

speaker1  speaker2
Jim       Pam         800
Dwight    Michael     717
Jim       Dwight      680
Michael   Pam         533
Jim       Michael     501
                     ...
Helene    Creed         1
Hank      Toby          1
          Meredith      1
          Holly         1
Val       Toby          1
Length: 627, dtype: int64

### For intermediate students:
>Q: Which season has the largest average number of speaker combination pairs per episode?

### For advanced students:
>Q: Which character spoke the most *words* throughout the entire series?